* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 22px;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.lock {
  filter: brightness(0.7);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
  height: 100%;
  width: 20%;
  transition: ease-in-out 0.5s;
}

.section img {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.section p {
  cursor: pointer;
}